In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'Device_Type':['AXO145','TRU151','ZOD231','YRT326'],
        'Stats_Access_Link':["<url>https://xcd32112.smart_meter.com</url>",
                             "<url>http://tXh67.dia_meter.com</url>",
                             "<url>http://yT5495.smart_meter.com</url>",
                             "<url>https://ret323_Tru.crown.com</url>"]} 
df = pd.DataFrame(data, index =[0,1,2,3])

In [5]:
df

  Device_Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151        <url>http://tXh67.dia_meter.com</url>
2      ZOD231     <url>http://yT5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_Tru.crown.com</url>

In [9]:
a = input("kod giriniz: ")
if (a == "AXO145"):
    print(df.iloc[0,1])

kod giriniz: AXO145
<url>https://xcd32112.smart_meter.com</url>

In [22]:
df.iloc[0,1]

'<url>https://xcd32112.smart_meter.com</url>'

In [23]:
stripped_string = df.iloc[0,1].replace("<url>https://","")

In [24]:
stripped_string

'xcd32112.smart_meter.com</url>'

In [25]:
stripped_string = stripped_string.replace("</url>","")

In [26]:
stripped_string

'xcd32112.smart_meter.com'